<div class=list-group>
    <div class=list-group-item><a href="http://bit.ly/17KHUSU">Register here</a> to attend the webinar titled <em>"How CHOP Created a Last Mile Solution for Clinical Research Data"</em> to learn more about Harvest on November 1, 2013 from 1-2 PM.</div>

    <div class=list-group-item>The Harvest manuscript has been <a href="http://jamia.bmj.com/content/early/2013/10/16/amiajnl-2013-001825.full">published</a> in the Journal of the American Medical Informatics Association (JAMIA). See other press and media about Harvest on our <a href="{{ site.baseurl }}media/">media &amp; press</a> page.</div>

    <div class=list-group-item>Do you have any questions about Harvest? Want to live chat with the Harvest team? The Harvest site now has a <strong>chatroom</strong>! Simply enter your name and <a href="{{ site.baseurl }}chat/">start talking</a>.</div>
</div>