<p>Stay in touch! Sign up for our email list to get periodic updates on Harvest, blog posts, and invitations to future webinars.</p>

<!-- Begin MailChimp Signup Form -->
<form class=form-inline action="http://chop.us7.list-manage.com/subscribe/post?u=d587d405b4f54fec30bf3dcab&amp;id=97ea97c5ba" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <div class=input-group>
        <input type="email" class=form-control name="email" placeholder="Email..." required>
        <div class=input-group-btn>
            <input type="submit" class="btn btn-primary" value="Subscribe" name="subscribe">
        </div>
    </div>
    <p class=help-block>Don't worry! We will never spam you or give your email to anyone else.</p>
</form>
<!--End mc_embed_signup-->
